.close {
    display: none;
}

.open {
    display: block;
}

.burger-menu-section {
    position: absolute;
    top: -2rem;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 3;

}

.burger-menu {
    display: flex;
    justify-content: space-between;
    height: 90vh;

    &__btns {
        display: flex;

        font-size: 2.2rem;
        align-items: flex-end;
        color: #828282;
        cursor: pointer;
    }

    .lang {
        writing-mode: vertical-lr;
        font-size: 1.6rem;
        margin-bottom: 2rem;
    }

    &__links {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        margin-top: 2rem;

        a {
            text-decoration: none;
            color: #828282;
            font-size: 1.6rem;
        }
    }
}


// .burger-icon {
//     width: 3.5rem;
//     height: 3.5rem;
//     position: relative;
//     cursor: pointer;
//     margin-top: 0.6rem;
//     margin-right: 0.2rem;

//     span {
//         display: block;
//         position: absolute;
//         width: 100%;
//         height: 3px;
//         background-color: #828282;
//         top: 50%;
//         transform: translateY(-50%);
//     }

//     span:first-child {
//         transform: translateY(-50%) rotate(45deg);
//     }

//     span:last-child {
//         transform: translateY(-50%) rotate(-45deg);
//     }
// }

@media(min-width: 800px) {
    .burger-menu-section {
        display: none;
    }
}