.footer__items {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    button {
        background-color: #070707;
        border-radius: 30px;
        color: #fff;
        border: none;
        padding: 0.7rem 1.5rem;
        cursor: pointer;
    }

    &__icons {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        gap: 4.5rem;
    }

    p {
        text-align: left;
    }

    &__links {
        color: #828282;
        margin-top: 2rem;

        a {
            text-decoration: none;
            color: #828282;
            line-height: 1.6rem;
        }
    }
}

@media(max-width: 960px) {
    .footer p {
        text-align: center;
    }
}