.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #828282;
    transform: matrix(1, 0, 0, 1, 0, 0);
    width: 100%;
    font-size: 1rem;


    &__list {
        color: #828282;
        text-decoration: none;
        line-height: 1.5rem;

        &--active {
            color: #070707;
        }
    }
}

.header__adaptive {
    padding-top: 3rem;
    display: none;
}


.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 4;

    span {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #000;
        transition: transform 0.4s ease;
    }
}

.burger.show span:nth-child(2) {
    opacity: 0;
}

.burger.show span:first-child {
    transform: translateY(14px) rotate(45deg);
    background-color: #828282;
}

.burger.show span:last-child {
    transform: translateY(-14px) rotate(-45deg);
    background-color: #828282;
}



@media(max-width: 800px) {
    .header {
        display: none;
    }

    .header__adaptive {
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
    }
}