#portfolio {
    background-color: #F6F6F6;
}

.portfolio {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.portfolio-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__item {
        margin-bottom: 3rem;

        img {
            width: 100%;
            margin-bottom: 2rem;
        }

        a {
            color: #070707;
            margin: 2rem 0 3rem 0;
        }
    }

    &__item:last-child {
        margin-bottom: 0;
    }
}