* {
	margin: 0;
	padding: 0;
	border: 0;
}

h1 {
	font-weight: 350;
}

.container {
	padding: 2vh 18vw 4rem;
}

html {
	font-size: 1.4vw;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 350;
}

p {
	text-align: center;
}

.header-section {
	font-size: 1.6rem;
	line-height: 1.5rem;
	font-weight: 350;
	margin: 5rem 0;
	text-align: center;
}

.ru {
	color: #828282;
}

.eng {
	color: #000;
}

@media (max-width: 800px) {
	.container {
		padding: 4rem 2rem;
	}
	#header .container {
		padding: 0 2rem;
	}
	.header-section {
		margin: 4rem 0;
	}
}

@media (max-width: 1130px) {
	html {
		font-size: 1.5vw;
	}
}

@media (max-width: 970px) {
	html {
		font-size: 1.7vw;
	}
}

@media (max-width: 860px) {
	html {
		font-size: 2.1vw;
	}
}

@media (max-width: 785px) {
	html {
		font-size: 2.4vw;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 2.8vw;
	}
}

@media (max-width: 560px) {
	html {
		font-size: 3vw;
	}
}

@media (max-width: 380px) {
	html {
		font-size: 3.5vw;
	}
}

.header {
	display: flex;
	justify-content: space-between;
	padding-bottom: 1.5rem;
	border-bottom: 1px solid #828282;
	transform: matrix(1, 0, 0, 1, 0, 0);
	width: 100%;
	font-size: 1rem;
}

.header__list {
	color: #828282;
	text-decoration: none;
	line-height: 1.5rem;
}

.header__list--active {
	color: #070707;
}

.header__adaptive {
	padding-top: 3rem;
	display: none;
}

.burger {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 50px;
	height: 50px;
	cursor: pointer;
	z-index: 4;
}

.burger span {
	display: block;
	width: 100%;
	height: 4px;
	background-color: #000;
	transition: transform 0.4s ease;
}

.burger.show span:nth-child(2) {
	opacity: 0;
}

.burger.show span:first-child {
	transform: translateY(14px) rotate(45deg);
	background-color: #828282;
}

.burger.show span:last-child {
	transform: translateY(-14px) rotate(-45deg);
	background-color: #828282;
}

@media (max-width: 800px) {
	.header {
		display: none;
	}
	.header__adaptive {
		display: flex;
		justify-content: flex-end;
		cursor: pointer;
	}
}

.my-card {
	display: flex;
	flex-direction: column;
}

.my-card__text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 1.6rem;
	width: 100%;
}

.my-card__text--name {
	font-size: 3rem;
}

.my-card__text--profession {
	font-size: 1rem;
}

.my-card__text--lang {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.my-card__photo {
	width: 100%;
}

.my-card__photo img {
	width: 100%;
}

.my-card__photo-adaptive {
	display: none;
}

@media (max-width: 800px) {
	.my-card__text {
		flex-direction: column;
		align-items: start;
	}
	.my-card__text--name {
		margin-bottom: 1.2rem;
	}
	.my-card__text--lang {
		display: none;
	}
	.my-card__text--profession {
		font-size: 1.5rem;
	}
	.my-card__photo {
		display: none;
	}
	.my-card__photo-adaptive {
		display: flex;
		width: 100%;
		margin-bottom: 3rem;
	}
	.my-card__photo-adaptive img {
		width: 100%;
	}
}

#about-me {
	width: 100vw;
	background-color: #F6F6F6;
}

.about-me {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
}

.about-me p {
	margin-bottom: 2rem;
}

.skills {
	text-align: center;
	width: 100%;
}

.skills p {
	font-size: 0.8rem;
}

.skills__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.skills__intro {
	margin-bottom: 4rem;
}

.skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.skill .stars img {
	width: calc(15% - 0.1rem);
}

@media (max-width: 960px) {
	.skills {
		flex-wrap: wrap;
	}
	.skill {
		margin-bottom: 2rem;
		width: calc(50% - 1rem);
	}
}

@media (max-width: 600px) {
	.skills {
		flex-wrap: wrap;
	}
	.skill {
		margin-bottom: 3rem;
		width: 100%;
		gap: 4rem;
	}
	.skill p {
		font-size: 1rem;
	}
	.stars {
		display: flex;
		justify-content: space-between;
		width: 14rem;
	}
	.skill__img {
		height: 10rem;
		width: 10rem;
	}
	.skill__img img {
		width: 100%;
		height: 100%;
	}
}

#portfolio {
	background-color: #F6F6F6;
}

.portfolio {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 100%;
}

.portfolio-items {
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

.portfolio-items__item {
	margin-bottom: 3rem;
}

.portfolio-items__item img {
	width: 100%;
	margin-bottom: 2rem;
}

.portfolio-items__item a {
	color: #070707;
	margin: 2rem 0 3rem 0;
}

.portfolio-items__item:last-child {
	margin-bottom: 0;
}

.footer__items {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.footer__items button {
	background-color: #070707;
	border-radius: 30px;
	color: #fff;
	border: none;
	padding: 0.7rem 1.5rem;
	cursor: pointer;
}

.footer__items__icons {
	margin-top: 2rem;
	display: flex;
	justify-content: center;
	gap: 4.5rem;
}

.footer__items p {
	text-align: left;
}

.footer__items__links {
	color: #828282;
	margin-top: 2rem;
}

.footer__items__links a {
	text-decoration: none;
	color: #828282;
	line-height: 1.6rem;
}

@media (max-width: 960px) {
	.footer p {
		text-align: center;
	}
}

.close {
	display: none;
}

.open {
	display: block;
}

.burger-menu-section {
	position: absolute;
	top: -2rem;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 3;
}

.burger-menu {
	display: flex;
	justify-content: space-between;
	height: 90vh;
}

.burger-menu__btns {
	display: flex;
	font-size: 2.2rem;
	align-items: flex-end;
	color: #828282;
	cursor: pointer;
}

.burger-menu .lang {
	writing-mode: vertical-lr;
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

.burger-menu__links {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	margin-top: 2rem;
}

.burger-menu__links a {
	text-decoration: none;
	color: #828282;
	font-size: 1.6rem;
}

@media (min-width: 800px) {
	.burger-menu-section {
		display: none;
	}
}

/*# sourceMappingURL=theme.css.map */