#about-me {
	width: 100vw;
	background-color: #F6F6F6;
}

.about-me {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
}

.about-me p {
	margin-bottom: 2rem;
}

/*# sourceMappingURL=about-me.css.map */