.close {
	display: none;
}

.open {
	display: block;
}

.burger-menu-section {
	position: absolute;
	top: -2rem;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 3;
}

.burger-menu {
	display: flex;
	justify-content: space-between;
	height: 90vh;
}

.burger-menu__btns {
	display: flex;
	font-size: 2.2rem;
	align-items: flex-end;
	color: #828282;
	cursor: pointer;
}

.burger-menu .lang {
	writing-mode: vertical-lr;
	font-size: 1.6rem;
	margin-bottom: 2rem;
}

.burger-menu__links {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	margin-top: 2rem;
}

.burger-menu__links a {
	text-decoration: none;
	color: #828282;
	font-size: 1.6rem;
}

@media (min-width: 800px) {
	.burger-menu-section {
		display: none;
	}
}

/*# sourceMappingURL=burger-menu.css.map */