.my-card {
	display: flex;
	flex-direction: column;
}

.my-card__text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0 1.6rem;
	width: 100%;
}

.my-card__text--name {
	font-size: 3rem;
}

.my-card__text--profession {
	font-size: 1rem;
}

.my-card__text--lang {
	writing-mode: vertical-lr;
	transform: rotate(180deg);
}

.my-card__photo {
	width: 100%;
}

.my-card__photo img {
	width: 100%;
}

.my-card__photo-adaptive {
	display: none;
}

@media (max-width: 800px) {
	.my-card__text {
		flex-direction: column;
		align-items: start;
	}
	.my-card__text--name {
		margin-bottom: 1.2rem;
	}
	.my-card__text--lang {
		display: none;
	}
	.my-card__text--profession {
		font-size: 1.5rem;
	}
	.my-card__photo {
		display: none;
	}
	.my-card__photo-adaptive {
		display: flex;
		width: 100%;
		margin-bottom: 3rem;
	}
	.my-card__photo-adaptive img {
		width: 100%;
	}
}

/*# sourceMappingURL=my-card.css.map */