.skills {
	text-align: center;
	width: 100%;
}

.skills p {
	font-size: 0.8rem;
}

.skills__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.skills__intro {
	margin-bottom: 4rem;
}

.skill {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1.5rem;
}

.skill .stars img {
	width: calc(15% - 0.1rem);
}

@media (max-width: 960px) {
	.skills {
		flex-wrap: wrap;
	}
	.skill {
		margin-bottom: 2rem;
		width: calc(50% - 1rem);
	}
}

@media (max-width: 600px) {
	.skills {
		flex-wrap: wrap;
	}
	.skill {
		margin-bottom: 3rem;
		width: 100%;
		gap: 4rem;
	}
	.skill p {
		font-size: 1rem;
	}
	.stars {
		display: flex;
		justify-content: space-between;
		width: 14rem;
	}
	.skill__img {
		height: 10rem;
		width: 10rem;
	}
	.skill__img img {
		width: 100%;
		height: 100%;
	}
}

/*# sourceMappingURL=skills.css.map */