* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-weight: 350;
}

.container {
    padding: 2vh 18vw 4rem;
}

html {
    font-size: 1.4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 350;
}

p {
    text-align: center;
}

.header-section {
    font-size: 1.6rem;
    line-height: 1.5rem;
    font-weight: 350;
    margin: 5rem 0;
    text-align: center;
}

.ru {
    color: #828282;
}

.eng {
    color: #000;
}

@media(max-width: 800px) {
    .container {
        padding: 4rem 2rem;
    }

    #header {
        .container {
            padding: 0 2rem;
        }
    }

    .header-section {
        margin: 4rem 0;
    }


}

@media(max-width: 1130px) {
    html {
        font-size: 1.5vw;
    }
}

@media(max-width: 970px) {
    html {
        font-size: 1.7vw;
    }
}

@media(max-width: 860px) {
    html {
        font-size: 2.1vw;
    }
}

@media(max-width: 785px) {
    html {
        font-size: 2.4vw;
    }
}



@media(max-width: 600px) {
    html {
        font-size: 2.8vw;
    }
}

@media(max-width: 560px) {
    html {
        font-size: 3vw;
    }
}

@media(max-width: 380px) {
    html {
        font-size: 3.5vw;
    }
}